backup/
full text review papers/
local_results/
protocol/
refs/
metamedian/

*.DS_Store
*.xlsx
*.pdf
!2024-05-13 Model details and plots/plots/*.pdf
*.gsheet
*.docx
*.zip
*.tar.gz
*.txt
!2024-05-13 Model details and plots/details/*.txt
*.csv
*.R
!gdr_test.R
