*.DS_Store
*.rds

Data\ and\ Results/*
!Data\ and\ Results/2025-07-09\ Model\ details\ and\ plots/
!Data\ and\ Results/2025-07-09\ Model\ details\ and\ plots/ 
!Data\ and\ Results/2025-07-10\ IR\ MA\ Full\ Dataset.xlsx 

Figures/
File\ backups/
Manuscript/
References/
Search\ Results/
