*.DS_Store
*.rds

Data\ and\ Results/*
!Data\ and\ Results/2026-01-12\ Model\ details\ and\ plots/
!Data\ and\ Results/2026-01-11\ IR\ MA\ Full\ Dataset.xlsx 

Figures/
File\ backups/
Manuscript/
References/
Search\ Results/
